<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <h1><a href="">Logo</a></h1>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" routerLink="/home">Home</a></li>
                <li *ngIf="isLoggedIn"><a class="nav-link scrollto" routerLink="/gallery">Gallery</a></li>
                <li><a class="nav-link scrollto" routerLink="/about">About</a></li>
                <li *ngIf="!isLoggedIn"><a class="getstarted scrollto" routerLink="/login">Log In</a></li>
                <!-- <li ><a class="nav-link scrollto"></a></li>
                <li *ngIf="isLoggedIn"><a class="getstarted scrollto" ></a></li> -->
                <li *ngIf="isLoggedIn" class="dropdown"><a><b><span>{{ isLoggedUser$ | async }}</span></b> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                      <li><a (click)="logout()">Log Out</a></li>
                    </ul>
                  </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header>